* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* top banner start */
.top_Banner_Background {
    text-align: center;
    color: white;
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

}

.top_Banner_Caption {
    margin: auto;
    padding: 15% 0;
    width: 75%;
}

.top_Banner_Caption h1 {
    font-size: 55px;
}

.top_Banner_Caption p {
    margin: 50px 0;
    font-size: 22px;
}

.top_Banner_Caption a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
}

/* top banner end */
/* Donate Today start */
.donate_today_section {
    text-align: center;
    color: black;
    background-color: white;
    width: 100%;
    height: 100vh;
}

.donate_today_content {
    margin: auto;
    padding: 10% 0;
    width: 75%;
}

.donate_today_content h1 {
    font-size: 45px;
}

.donate_today_content p {
    margin: 30px 0;
    font-size: 28px;
}

.donate_today_content a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
}

.donate_today_content ul {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.donate_today_content ul li {
    background-color: #FAFAFA;
    margin: 20px 10px;
    padding: 30px 20px;
    display: block;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
}

.donate_today_content input {
    border: none;
    width: 100%;
    text-align: center;
    color: #B3B3B3;
    font-size: 18px;
}

#list_Border_Background {
    border: 2px solid #FF5959;
    background-color: #FFEEEE;
    color: #FF5959;
}

/* Donate Today End */
/* Donate Plan Start */
.donate_plan {
    background-color: white;
    height: 100vh;
    margin: auto;
    padding-top: 50px;
    width: 80%;
}

.first_donate_plan {
    text-align: center;
}

.first_donate_plan h1 {
    margin: 30px 0;
    font-size: 45px;
}

.first_donate_plan p {
    margin: 30px 0;
    font-size: 28px;
}

.plan_flexible {
    display: flex;

}

.third_width {
    border-radius: 5px;
    width: 30%;
    text-align: justify;
    padding: 25px 15px;
}

#blue_Shadow {
    background-color: #EDF5F6;
}

#pink_shadow {
    background-color: #FFEEEE;
    margin-left: 10px;
    margin-right: 10px;
}

#yellow_shadow {
    background-color: #FFF4D6;
}

.heading_padding {
    padding: 15px 0;
}

/* Donate Plan End */
/* lives depend start */
.lives_depend_flexible {
    display: flex;
    margin: auto;
    height: 500px;
    padding-top: 50px;
    width: 80%;
}

.half_width {
    width: 50%;
}

.half_width :nth-child(1) {
    margin-left: 20px;
}

.half_width h1 {
    font-size: 35px;
    padding-bottom: 20px;
}

.half_width p {
    font-size: 20px;
    padding: 10px 0;
}

.half_width a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.half_width img {
    width: 100%;
    border-radius: 8px;
}

/* lives depend End */
/* need suvive start */
.need_survive_flexible {
    display: flex;
    margin: auto;
    height: 500px;
    padding-top: 50px;
    width: 80%;
}

.half_width_Survive {
    width: 50%;
}

.half_width_Survive :nth-child(0) {
    margin-right: 40px;
}

.half_width_Survive h1 {
    font-size: 35px;
    padding-bottom: 20px;
}

.half_width_Survive p {
    font-size: 20px;
    padding: 10px 0;
}

.half_width_Survive a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.half_width_Survive img {
    width: 95%;
    border-radius: 8px;
}

/* need suvive end  */
/* My Updates start */
.email_updates {
    width: 60%;
    height: 550px;
    margin: 0 auto;
}

.email_info {
    background-color: white;
    text-align: center;
    padding: 20px 0 50px 0;
}

.email_info h1 {
    font-size: 45px;
    padding-bottom: 20px;
}

.email_info p {
    font-size: 20px;
}

.email_subcribe {
    background-color: #FFF4D6;
    padding: 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#email_sub_border{
    display: flex;
}
.email_subcribe input {
    border: none;
    padding: 15px;
    background-color: #D9D9D9;
    color: #AA9F9F;
    font-weight: 530;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.email_subcribe a {
    border: none;
    background-color: #FF5959;
    padding: 11px;
    text-decoration: none;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* My Updates End */
/* Footer Start */
footer {
    background-color: black;
    width: 100%;
    height: 150px;
}

.footer_align {
    text-align: center;
    color: #B3B3B3;
    width: 50%;
    height: 150px;
    margin: 0 auto;
}

#footer_font {
    color: #FF5959;
    padding-top: 8%;
    font-size: 2em;
    font-family: 'Lobster', cursive;
}

/* Footer End  */